:root{
    --gray-300 : #beafb6a8;
    --gray-400 : #8B8A8D;
    --gray-500 : #91959fa1;
    --black-200 : #80808045;
    --black-900 : #1A2232;
    --black-800 : #00000085;
    --white-100 : #F2F9FB;
    --white-200 : #F4F5FE;
    --orange-300 : #f09283;
    --green-900 : #ffff006e;

}